/* Define variables for light mode */
:root {
  --switch-bg: #f5f5f6;
  --title: #44dbb5;
  --text: #255fb6;
  --body: #008aca;
  --back: white;
  --support: #3bb2e9;
  --hyperlinks: #002fff;
  --hf: #31b3f0;
  --hftxt: white;
  --hfhover: #0092d6;
  --bhover: #0062ca;
  --shaddow: #bebebe;
  --dark-shaddow: #4d4d4d;
}

/* Dark mode variables */
.dark-mode {
  --switch-bg: #353b49;
  --title: #5cd6b7;
  --text: #39a8dc;
  --body: #77dcf8;
  --back: #2e3440;
  --support: #8bdaf3;
  --hyperlinks: #8183ff;
  --hf: #1f55a6;
  --hftxt: #ffffff;
  --hfhover: #0083c0;
  --bhover: #0056b3;
  --shaddow: #303030;
  --dark-shaddow: #0a0a0a;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--back);
  color: var(--body);
  max-width: 100%;
}

header {
  background-color: var(--hf);
  color: var(--hftxt);
}

header img {
  margin: 0 auto;
  display: block;
}

footer {
  background-color: var(--hf);
  color: var(--hftxt);
  text-align: center;
  display: block;
  clear: both;
  padding-bottom: 1px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.format {
  max-width: 1000px;
  margin: 0 auto;
}

.format2 {
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsive design */
@media screen and (max-width: 768px){

}

/*dark mode switch*/
.toggle-container {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.toggle-container input[type="checkbox"] {
  margin: 0 5px;
}

.toggle-container label {
  cursor: pointer;
}

.toggle-container input[type="checkbox"] {
  display: none;
}

.toggle-label {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s;
}

.toggle-container input[type="checkbox"]:checked + .toggle-label {
  background-color: #5cd6b7;
}

.toggle-container input[type="checkbox"]:checked + .toggle-label::before {
  transform: translateX(26px);
}

/* Navbar formatting */
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hf);
  font-size: 20px;
}

.navbar li {
  position: relative;
  margin: 0 10px;
}

.navbar a {
  color: var(--hftxt);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: var(--hfhover);
  border-radius: 5px;
  text-decoration: none;
}

.navbar .dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--hf);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--shaddow);
  z-index: 1000;
}

.dropdown-content a {
  color: var(--hftxt);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--hfhover);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.toggle-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.toggle-container input[type="checkbox"] {
  display: none;
}

.toggle-label {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: transform 0.2s;
}

input[type="checkbox"]:checked + .toggle-label {
  background-color: var(--title);
}

input[type="checkbox"]:checked + .toggle-label::before {
  transform: translateX(26px);
}

/* Social bar in footer formatting */
.social-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.social-bar {
  display: flex;
  gap: 20px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  text-decoration: none;
  border-radius: 100%;
  background: var(--back);
  color: var(--body);
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.social-button:hover {
  background-color: var(--body);
  color: var(--back);
  transform: scale(1.2);
}

/* Button formatting */
.button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  background-color: var(--body);
  padding: 10px;
  color: var(--back);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
}
.button:hover {
  background-color: var(--bhover);
  text-decoration: none;
}

.button-link {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*homepage*/
.front {
  display: flex;
  flex-wrap: wrap;
}

.front__item {
  display: flex;
  flex: 1 50%;
  flex-direction: column;
}

.front_img img {
  max-width: 400px;
  filter: drop-shadow(-20px 20px var(--text));
  display: block;
  padding-top: 15px;
  padding-bottom: 35px;
}

.front_txt {
  text-align: center;
  max-width: 613px;
  padding: 30px;
  display: block;
}

.front p {
  font-size: 18px;
  text-align: left;
}

.front h2 {
  font-size: 25px;
  text-align: left;
}

.front h1 {
  font-size: 35px;
  text-align: left;
  color: var(--title);
}

.front_btn {
  display: flex;
  align-items: center;
  width: 100%;
}

/* about me */

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--switch-bg);
  flex-direction: column;
}

.about_img img {
  border-radius: 1000px;
  max-width: 400px;
  filter: drop-shadow(-20px 20px var(--text));
  display: block;
  padding-top: 15px;
  padding-bottom: 35px;
}

.about_item {
  display: flex;
  flex: 1 50%;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: center;
}

.about_txt {
  padding: 10px;
}

/* clubs page */
#clubs {
  margin: 50px auto;
  max-width: 900px;
}

.clubs-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--switch-bg);
  box-shadow: 0 0 10px var(--shaddow);
  border-radius: 8px;
  overflow: hidden;
}

.clubs-table th,
.clubs-table td {
  padding: 20px;
  text-align: left;
  vertical-align: top;
}

.clubs-table th {
  width: 30%;
  background-color: var(--hf);
  color: var(--hftxt);
  font-size: 1.2em;
  border-right: 2px solid var(--hfhover);
}

.clubs-table td {
  width: 70%;
  background-color: var(--back);
  color: var(--text);
}

.clubs-table tr:not(:last-child) td {
  border-bottom: 1px solid var(--hfhover);
}

.clubs-table h2 {
  margin: 0;
}

.clubs-table p {
  margin: 0;
  line-height: 1.6;
}

/* global experience page */
.gexp {
  display: flex;
  flex-wrap: wrap;
}

.gexp_item {
  display: flex;
  flex: 1 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.gexp_img img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shaddow);
}

.gexp h2 {
  color: var(--hf);
  text-align: center;
  margin: 0;
}

.gexp p {
  line-height: 1.6;
  color: var(--text);
  text-align: center;
  margin: 0;
}

/*projects page*/

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projects__item {
  display: flex;
  flex: 1 50%;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: center;
  gap: 15px;
}

.projects__img img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(0px 8px 10px var(--dark-shaddow));
}

.projects h2,
.projects p {
  margin: 0;
}

/* resume page */
.contain {
  width: 80%;
  margin: 0 auto;
  padding-left: 5%;
  background-color: var(--switch-bg);
  box-shadow: 0 0 10px var(--shaddow);
  display: block;
  padding: 20px;
}

.contain section {
  margin-bottom: 40px;
}

.contain h1,
.contain h2,
.contain h3 {
  margin-bottom: 10px;
}

.contain p {
  margin: 5px 0;
}

.contain ul {
  margin: 5px 0;
  padding-left: 20px;
}

.contain li {
  margin-bottom: 5px;
}

/*study abroad page*/
.studyab {
  width: 80%;
  margin: 0 auto;
  padding-left: 5%;
  display: block;
  padding: 20px;
}

/*carousel*/
.carousel-container {
  position: relative;
  max-width: 80%;
  margin: 50px auto;
  overflow: hidden;
  padding: 0 60px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

/*carousel items*/
.carousel-item {
  height: 300px;
  min-width: 150px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover {
  transform: scale(1.1);
  z-index: 3;
}

.carousel-item:hover img {
  transform: scale(1.1);
}

/* Navigation buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--back);
  background-color: var(--support);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 4;
  border: none;
}

.prev {
  left: 10px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--bhover);
}

/*descriptions*/
#description-section {
  margin-top: 20px;
  text-align: center;
}

#description-section h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

#description-section p {
  font-size: 16px;
  color: var(--text);
}

/*photos page*/
.photos-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.photos-gallery-item {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.photos-gallery-item.landscape img {
  max-height: 500px;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.photos-gallery-item.portrait img {
  max-width: 400px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  max-height: auto;
  overflow: hidden;
  object-fit: cover;
}

.photos-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--text);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photos-title {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 2px;
}

.photos-description {
  font-size: 15px;
}

.photos-gallery-item:hover .photos-info {
  opacity: 90%;
}

.photos-gallery-item video {
  max-width: 400px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photos-gallery-item.hidden video {
  transform: scale(1);
}

/*filter bar*/
.filter-bar {
  position: sticky;
  top: 0;
  background-color: var(--back);
  text-align: center;
  z-index: 800;
  gap: 10px;
}

.filter-bar button {
  cursor: pointer;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color: var(--back);
  border: none;
  color: var(--text);
  text-decoration: underline var(--support);
  font-size: 18px;
  text-decoration-thickness: 4px;
  transition: color 0.3s, text-decoration-color 0.3s;
}

.filter-bar button:hover {
  color: var(--text);
  text-decoration-color: var(--title);
}
